<h3>Hey, <%= @user.email %></h3>
<p>I haven't seen you since <%= @user.last_sign_in_at.to_s(:long_ordinal) %>!</p>
<br>
<div class="row">
  <% @user.goals.each do |goal| %>
    <%= render 'goals/goal', goal: goal %>
  <% end %>
</div>
<br>
<div class="row">
  <%= render 'goals/form', goal: Goal.new, user: @user %>
</div>
