<h4>Add a New Goal</h4>

<%= form_for [user, goal] do |f| %>
  <div class="form-group">
    <%= f.label :name, class: 'sr-only' %>
    <%= f.text_field :name, class: 'form-control', placeholder: "What would you like to accomplish?" %>
  </div>
    <%= f.submit "Save", class: 'btn btn-success' %>
<% end %>
