<div id="goal-<%= goal.id %>" class="media">
  <div class="media-body">
    <div class="goal">
      <h4 class="media-heading">
        <%= goal.name %>
      </h4>
      <%= link_to "Completed", goal, method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
      <small><%= time_left_until_expires(goal) %></small>
    </div>
  </div>
</div>
