<div class="media">
  <div class="media-body">
    <div class="goal">
      <h4 class="media-heading">
        <%= goal.name %>
      </h4>
      <small>added <%= goal.created_at.to_s(:long_ordinal) %></small>
    </div>
  </div>
</div>
